.card {
    display: inline-block;
    width: 100%;
}

.card-pic {
    border-top: 1px solid rgb(219, 219, 219);
    border-bottom: 1px solid rgb(228, 228, 228);
}

.svg {
    width: 25px;
    height: 25px;
}

img {
    height: 250px;
}

mat-card-actions {
    padding: 0%;
}

mat-card-actions {
    margin-bottom: 4px !important;
}

@media(max-width:992px) {
    .align-cards {
        width: 100% !important;
        display: flex !important;
        justify-content: center !important;
    }
}